* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    --bleed: 3mm;
    --white-space: 4.4mm;
    --trim-mark: 5.282mm;
    --whole-height: 23.4mm;
    --whole-width: 77.4mm;
    --trim-black-line: 0.1mm;
    --trim-white-line: 0.1mm;
}

div.cardBox {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.card {
    display: flex;
    position: relative;
    width: 73mm;
    padding: 4.4mm;
}

.top-left-vertical-trimmark {
    width: var(--trim-black-line);
    height: var(--trim-mark);
    background-color: black;
    position: absolute;
    top: 0;
    left: 7.4mm;
    z-index: 1;
}

.top-left-vertical-trimmark::before,
.top-left-vertical-trimmark::after {
    content: "";
    position: absolute;
    width: var(--trim-white-line);
    height: var(--trim-mark);
    background-color: white;
}

.top-left-vertical-trimmark::before {
    left: -0.1mm;
}

.top-left-vertical-trimmark::after {
    right: -0.1mm;
}

.top-left-horizontal-trimmark {
    width: var(--trim-mark);
    height: var(--trim-black-line);
    background-color: black;
    position: absolute;
    top: 7.4mm;
    left: 0;
    z-index: 1;
}

.top-left-horizontal-trimmark::before,
.top-left-horizontal-trimmark::after {
    content: "";
    position: absolute;
    left: 0;
    width: var(--trim-mark);
    height: var(--trim-white-line);
    background-color: white;
}

.top-left-horizontal-trimmark::before {
    top: -0.1mm;
}

.top-left-horizontal-trimmark::after {
    bottom: -0.1mm;
}

.top-right-vertical-trimmark {
    width: var(--trim-black-line);
    height: var(--trim-mark);
    background-color: black;
    position: absolute;
    top: 0;
    right: 7.4mm;
    z-index: 1;
}

.top-right-vertical-trimmark::before,
.top-right-vertical-trimmark::after {
    content: "";
    position: absolute;
    width: var(--trim-white-line);
    height: var(--trim-mark);
    background-color: white;
}

.top-right-vertical-trimmark::before {
    left: -0.1mm;
}

.top-right-vertical-trimmark::after {
    right: -0.1mm;
}

.top-right-horizontal-trimmark {
    width: var(--trim-mark);
    height: var(--trim-black-line);
    background-color: black;
    position: absolute;
    top: 7.4mm;
    right: 0;
    z-index: 1;
}

.top-right-horizontal-trimmark::before,
.top-right-horizontal-trimmark::after {
    content: "";
    right: 0;
    position: absolute;
    width: var(--trim-mark);
    height: var(--trim-white-line);
    background-color: white;
}

.top-right-horizontal-trimmark::before {
    top: -0.1mm;
}

.top-right-horizontal-trimmark::after {
    bottom: -0.1mm;
}

.bottom-left-vertical-trimmark {
    width: var(--trim-black-line);
    height: var(--trim-mark);
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 7.4mm;
    z-index: 1;
}

.bottom-left-vertical-trimmark::before,
.bottom-left-vertical-trimmark::after {
    content: "";
    position: absolute;
    width: var(--trim-white-line);
    height: var(--trim-mark);
    background-color: white;
}

.bottom-left-vertical-trimmark::before {
    left: -0.1mm;
}

.bottom-left-vertical-trimmark::after {
    right: -0.1mm;
}

.bottom-left-horizontal-trimmark {
    width: var(--trim-mark);
    height: var(--trim-black-line);
    background-color: black;
    position: absolute;
    bottom: 7.4mm;
    left: 0;
    z-index: 1;
}

.bottom-left-horizontal-trimmark::before,
.bottom-left-horizontal-trimmark::after {
    content: "";
    position: absolute;
    left: 0;
    width: var(--trim-mark);
    height: var(--trim-white-line);
    background-color: white;
}

.bottom-left-horizontal-trimmark::before {
    top: -0.1mm;
}

.bottom-left-horizontal-trimmark::after {
    bottom: -0.1mm;
}

.bottom-right-vertical-trimmark {
    width: var(--trim-black-line);
    height: var(--trim-mark);
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 7.4mm;
    z-index: 1;
}

.bottom-right-vertical-trimmark::before,
.bottom-right-vertical-trimmark::after {
    content: "";
    position: absolute;
    width: var(--trim-white-line);
    height: var(--trim-mark);
    background-color: white;
}

.bottom-right-vertical-trimmark::before {
    left: -0.1mm;
}

.bottom-right-vertical-trimmark::after {
    right: -0.1mm;
}

.bottom-right-horizontal-trimmark {
    width: var(--trim-mark);
    height: var(--trim-black-line);
    background-color: black;
    position: absolute;
    bottom: 7.4mm;
    right: 0;
    z-index: 1;
}

.bottom-right-horizontal-trimmark::before,
.bottom-right-horizontal-trimmark::after {
    content: "";
    bottom: 7.4mm;
    right: 0;
    position: absolute;
    width: var(--trim-mark);
    height: var(--trim-white-line);
    background-color: white;
}

.bottom-right-horizontal-trimmark::before {
    top: -0.1mm;
}

.bottom-right-horizontal-trimmark::after {
    bottom: -0.1mm;
}

.name-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;

    /* Shifted to compensate for the logo in the bottom left corner*/
    transform: translate(-62%, -50%);

    z-index: 1;
    height: 10mm;
    max-width: 45mm;
    min-width: 20mm;
    align-items: center;
}

.name-text {
    display: flex;
    position: relative;
    font-family: "Oakes Regular";

    /* For really long names, 12pt is good*/
    /* For name and surnames, ~15pt is pretty good*/
    /* 17pt (what the asked for) is very big and only works for first names*/
    font-size: 15pt;
    color: rgb(190, 175, 135);
    white-space: nowrap;
}

@font-face {
    font-family: "Oakes Regular";
    src: url(./fonts/Oakes\ Grotesk\ Regular.ttf);
}
